*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    border-spacing: 0;
    overflow-x: hidden

}


body{
    
    text-align: center;
    margin: 2%;
}

.container{
     height: 100%;
    width: 100%;
    object-fit: cover;
    

}
img{
    
    height: 90vh;
}

@media only screen and (max-device-width: 700px) {

    body{
    
        margin: 5%;
    }
    img{
        width: 90%;
        height: 100%;
        
    }
    }